<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<title>Todo List</title>
	</head>
	<body>
		<div class="container">
			<h1>Todo list</h1>
			<form action="/" method="POST">
				<input
					type="text"
					placeholder="please write something down..."
					name="todoValue"
					required
				/>
				<button type="submit">ADD</button>
			</form>
			<% if(data) {%> <% data.forEach(todoValue => { %>
			<div class="container">
				<div class="entry">
					<p><%= todoValue.todo %></p>
					<a class="todo-delete <%= todoValue.id %>">Delete</a>
				</div>
				<div></div>
			</div>
			<% }) %> <% } %>
		</div>
		<script>
			const delBtn = document.querySelectorAll(".todo-delete");
			delBtn.forEach((btn) => {
				btn.addEventListener("click", function () {
					const endPoint = `/${btn.classList[1]}`;
					console.log(endPoint);
					fetch(endPoint, {
						method: "DELETE",
					});
					window.location.href = "/";
				});
			});
		</script>
	</body>
</html>
